
.Page-hero {
    &-container {
            display: flex;
            flex-direction: column;
            padding: 0 6vw;
        &-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background-color: #FFF;
            a {
                text-decoration: none;
            }
        }
    }
}